<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <!-- Indica la página inicial de la web -->
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Duración de la sesión de usuario -->
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
    
    <!-- Parámetros de contexto -->
    <context-param>
        <param-name>bootstrapVersion</param-name>
        <param-value>${bootstrap.version}</param-value>
    </context-param>
    
    <context-param>
        <param-name>jqueryVersion</param-name>
        <param-value>${jquery.version}</param-value>
    </context-param>
    
    <context-param>
        <param-name>fontAwesomeVersion</param-name>
        <param-value>${font-awesome.version}</param-value>
    </context-param>
    
</web-app>